@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body, p, a, span, h1, h2, h3, h4, h5, h6, button {
  font-family: "Rubik";
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  overflow-x: hidden;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  background-color: #dcdad7;
}

header {
  background-color: #3e6595;
  padding-bottom: 5px;
  height: 40px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}

header nav a {
  text-decoration: none;
  color: #dcdad7;
  margin-right: 40px;
}

header nav a:last-child {
  margin-right: 0;
}

header nav a:hover {
  color: #fff;
}

.right-nav button {
  color: #dcdad7;
  cursor: pointer;
  background: none;
  font-size: 16px;
  margin-right: 40px;
}

.right-nav button:last-child {
  margin-right: 0;
}

.right-nav button:hover {
  color: #fff;
}

.right-nav button:focus {
  outline: none;
}

#reg {
  max-width: 360px;
  background-color: #3e6595;
  padding: 0 20px 15px;
  margin: 0 auto;
  text-align: center;
}

#reg h1 {
  margin: 0 auto 25px;
}

#reg form {
  display: flex;
  align-items: center;
  color: #fff;
  flex-wrap: wrap;
}

#reg form span {
  color: red;
}

#reg form input {
  background: #1c529566;
  border-bottom: solid 1px #2fa99c;
  text-align: center;
  color: #fff;
}

#reg form input[id="date"]::-webkit-calendar-picker-indicator {
  color: #fff;
}

#reg form input[id="date"]::-webkit-datetime-edit {
  color: #fff;
  padding-left: 3em;
}

#reg form input, #reg form select {
  width: 8.3em;
  font-size: 1.1em;
}

#reg form label[for="scales"],
#reg form label[for="male"],
#reg form label[for="girl"] {
  font-size: 1.1em;
}

#reg form input[type="checkbox"], #reg form input[type="radio"] {
  width: 1em;
}

#reg form label, #reg form .gender-form, #reg form .group-form, #reg form .doctor-form, #reg form .sms-form {
  font-size: 0.9em;
}

#reg form select {
  background: #3e6595;
  color: #fff;
  overflow: hidden;
  text-align: center;
}

#reg form input[type="tel"]::-moz-placeholder {
  color: #fff;
}

#reg form input[type="tel"]::-webkit-input-placeholder {
  color: #fff;
}

#reg form input[type="tel"]:-ms-input-placeholder {
  color: #fff;
}

#reg form input[type="tel"]::-ms-input-placeholder {
  color: #fff;
}

#reg form input[type="tel"]::placeholder {
  color: #fff;
}

.name, .lastname, .patronymic, .date, .tel, .gender-form, .group-form, .doctor-form, .sms-form {
  height: 70px;
  width: calc( ( 100% - 40px ) / 2);
  margin: 0 0 20px;
}

.name:nth-child(2n-1), .lastname:nth-child(2n-1), .patronymic:nth-child(2n-1), .date:nth-child(2n-1), .tel:nth-child(2n-1), .gender-form:nth-child(2n-1), .group-form:nth-child(2n-1), .doctor-form:nth-child(2n-1), .sms-form:nth-child(2n-1) {
  margin-left: 20px;
  margin-right: 20px;
}
